.visualizer {
  width: 130px;
  height: 20px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.visualizer--active {
  opacity: 1;
  transition: opacity 0.05s ease-out;
}

.visualizer__canvas {
  display: block;
  width: 100%;
  height: 100%;
}
